:root {
    --background: #fffbff;
    --primary-container: #006398;
    --button-border-radius: 40px;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

nav {
    display: flex;
    justify-content: center;
    background-color: var(--background);
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.2);
    border: none;
    padding: 10px;
}

footer {
    display: flex;
    justify-content: center;
    background-color: var(--background);
}

@media (min-width: 768px) {
    .center {
        display: flex;
        flex-basis: 66%;
    }
}

@media (max-width: 768px){
    .center {
        display: flex;
    }
}

.container {
    flex: 1;
}

form * {
    margin: 5px 0;
}






